@page
@model BookStoreDevonWolsleger.Pages.SaleCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase! You will recieve your order soon!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
